@page
@model WebApplication1.Pages.ComoComprarModel
@{
    ViewData["Title"] = "Home page";
}

@section Style {

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet" asp-append-version="true">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
}

<h1>CÓMO COMPRAR</h1>

<iframe style="width: 1328px; height: 648px;"> </iframe>

<p>En Dietética Diamante Natural, hacer tu pedido es un proceso personalizado, fácil y atento a tus necesidades: </p>

<ol> 
    <li> <b>Explora Nuestra Variedad:</b> Descubre nuestra amplia gama de productos. Encuentra lo que necesitas para tu estilo de vida saludable y agrégalos a tu carrito.  </li>

    <li><b>Completa tus Datos:</b>Una vez que hayas seleccionado todos tus productos, llena un formulario con información básica para poder atenderte mejor. Esto nos ayudará a comprender tus necesidades.</li>


    <li><b>Envía tu Pedido:</b>Una vez que completes tus datos, envía tu pedido. Nos pondremos en contacto contigo a través de WhatsApp para brindarte una atención personalizada. </li>

    <li>
        <b>Atención Personalizada por WhatsApp:</b>Nuestro equipo estará encantado de asesorarte personalmente por WhatsApp. Te guiaremos a través del proceso de finalización del pedido, asegurándonos de que obtengas exactamente lo que necesitas.
    </li>

    <li>
        <b>Confirmación y Envío:</b>
        Una vez que hayamos confirmado tu pedido por WhatsApp, lo prepararemos y lo enviaremos a la dirección indicada.
    </li>

    <li>
        <b>Disfruta de tus Productos Saludables:</b> Una vez que recibas tu pedido, disfruta de la calidad y frescura de nuestros productos. Estamos comprometidos a brindarte el mejor servicio y apoyo en tu búsqueda de un estilo de vida más saludable.
    </li>

</ol>

<p>¡Gracias por confiar en Dietética Diamante Natural para tus necesidades de alimentación saludable! </p>