@page
@model WebApplication1.Pages.NosotrosModel
@{
    ViewData["Title"] = "Home page";
}


@section Style {

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet" asp-append-version="true">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

}

<article class="nosotros displayColumn">
    <h1> NOSOTROS </h1>
    
    <img src="" style="width: 1104px;height: 626px;" />
    
    <h3>Tienda saludable Diamante Natural: Nutriendo Vidas Desde 2018</h3>

    <p>
        En el corazón de Wilde, Dietetica Diamante Natural cobró vida en 2018 gracias al esfuerzo conjunto de Rodrigo Ferrare y Sabrina Gimenez. Con una visión compartida de brindar opciones saludables a nuestra comunidad, dimos inicio a un negocio familiar que trasciende las barreras de lo comercial. <br/>
        Somos más que una dietética; somos un legado familiar donde la pasión por la salud y el bienestar se refleja en cada interacción. Aquí, los miembros de la familia de Rodrigo y Sabrina trabajan juntos para ofrecer una experiencia auténtica y cercana a nuestros clientes.<br />
        Durante más de cinco años, hemos crecido y expandido nuestro alcance gracias al apoyo inquebrantable de quienes confían en nosotros. Nuestros servicios de envío ahora abarcan Avellaneda, Lanús y Quilmes, llevando nuestra amplia variedad de productos directamente a tu puerta.<br />
        En Dietetica Diamante Natural, entendemos que cada persona tiene necesidades únicas. Es por eso que nos enorgullecemos de nuestra extensa gama de productos que atienden a necesidades específicas, abarcando desde alimentos naturales hasta suplementos y productos especializados.<br />
        Nuestro compromiso es ir más allá de la transacción comercial. Queremos ser tus aliados en tu viaje hacia un estilo de vida más saludable. Aquí encontrarás no solo productos, sino también el conocimiento y el apoyo necesarios para tu bienestar integral.<br />
        Únete a nosotros en esta aventura. Sé parte de nuestra familia en Dietetica Diamante Natural, donde la salud y el bienestar son nuestra prioridad número uno.<br /><br /><br />
        ¡Gracias por permitirnos ser parte de tu camino hacia una vida más saludable!

    </p>

</article>

<section class="Encontranos displayColumn">

    <h1> CÓMO ENCONTRARNOS </h1>

    <p> ¡Te damos la bienvenida a Diamante Natural, tu destino para una vida saludable en Villa Domínico, Buenos Aires! Ubicada en la AV BELGRANO 5412, nuestra dietética ofrece una amplia gama de productos naturales y orgánicos para satisfacer todas tus necesidades nutricionales. Desde superalimentos hasta suplementos vitamínicos, encontrarás todo lo que necesitas para llevar un estilo de vida saludable. ¡Visítanos en nuestra dirección y comienza tu viaje hacia el bienestar hoy mismo! </p>

    <div style="width: 766px; height: 538px; flex-shrink: 0;">
        <iframe class="mapsDesktop noMobile"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3280.2444433302185!2d-58.33279682486026!3d-34.69901400267049!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a333d6d13d9407%3A0x370ddb285642a535!2sDiamante%20natural!5e0!3m2!1ses-419!2sar!4v1701999234136!5m2!1ses-419!2sar" width="1104" height="673" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>

    </div>
</section>

<div class="displayColumn novedades">
    <h2>Obtén  Novedades </h2>
    <div class="displayRow">
        <input type="email" value="example@mail.com" />
        <button> SUSCRIBIR </button>
    </div>
</div> 