@page
@model WebApplication1.Pages.NoticiasModel
@{
    ViewData["Title"] = "Home page";
}

@section Style {

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet" asp-append-version="true">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

}
<section class="noticias displayColumn">
    <h1> Noticias  </h1>

    <div class="noticias">

        <img src="" width="320px" heightt="480px" />

        <article class="noticias">
            <h3> @@noticia.titulo</h3>
            <p> @@noticia.breve </p>

            <button>
                <a asp-area="" asp-page="/NoticiasArticulo" asp-route-id="noticia.Id">LEER</a>
            </button>
        </article>
    </div>

    <div class="noticias">

        <img src="" width="320px" heightt="480px" />

        <article class="noticias">
            <h3> @@noticia.titulo</h3>
            <p> @@noticia.breve </p>
            <button>
                <a asp-area="" asp-page="/NoticiasArticulo" asp-route-id="noticia.Id">LEER</a>
            </button>
        </article>
    </div>

    <div class="noticias">

        <img src="" width="320px" heightt="480px" />

        <article class="noticias">
            <h3> @@noticia.titulo</h3>
            <p> @@noticia.breve </p>
            <button>
                <a asp-area="" asp-page="/NoticiasArticulo" asp-route-id="noticia.Id">LEER</a>
            </button>
        </article>
    </div>

    <div class="noticias">

        <img src="" width="320px" heightt="480px" />

        <article class="noticias">
            <h3> @@noticia.titulo</h3>
            <p> @@noticia.breve </p>
            <button>
                <a asp-area="" asp-page="/NoticiasArticulo" asp-route-id="noticia.Id">LEER</a>
            </button>
        </article>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

</section>