@page 

@model WebApplication1.Pages.ProductosModel
@{

    ViewData["Title"] = "Home page";
}

@section Style {

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet" asp-append-version="true">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

}

<h1> Productos </h1>


<div class="buscador displayRow">

    <nav class="search_bar displayRow">
        <input value="¿Qué estás pensando?" />
        <p>X</p>
    </nav>
    <button onclick="buscar()"> <img src="~/assets/svg/u_search.svg" /> </button>

</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-page="/Index">Home</a></li>
        <a class="breadcrumb-item active" asp-area="" asp-page="/Productos"><b>Productos</b></a>
    </ol>
</nav>

<section class="productoDetalle displayRow">

    <img src="" /> 

    <div class="displayColumn infoCompra">
        <h2>@@ nombre producto  </h2>

        <div class="tagProd displayRow">
            <h6>@@ etiqueta producto </h6>
            <h6>@@ etiqueta producto </h6>
            <h6>@@ etiqueta producto </h6>
            <!-- aplicar el color según con un mod para alternar (?) -->
        </div> 

        <div class="detalleProd displayColumn" >
            <p>Disponibilidad: </p> <p> @@ stock => funcion que devuelva segun #stock actual </p> <br /> 
            <p>Cantidad: </p> <p> @@ unidades vs gr/kg </p> <br />
            <div class="cantProd displayRow">
                <button class="botonCant" onclick="restar()"> - </button>
                <p> @@ cantidad compra - int o gr según unidad  hasta stock </p>
                <button class="botonCant" onclick="sumar()"> + </button>
            </div>
            <p class="siPromo" style="text-decoration-line:line-through"> @@ precio original </p>

            <h3>  @@PRECIO FINAL C/S DESCUENTO  </h3>
        </div>


        <button>
            <img src="~/assets/svg/white-bag.svg" /> <p>AGREGAR</p>
        </button>
    </div>

</section>


<!-- de no llevar descuento ni por cantidad ni oferta especial anular este segmento -->
 <div class="info displayColumn">
     <div class="cardOferta">
        <img src="~/assets/svg/u_award.svg" />

        <p> @@ descripcion de oferta en caso de que corresponda</p>
     </div>
</div>

<article class="detailsProd">
    <h3> Detalles </h3> <br/>

    <p> @@detalle del producto  </p>
    <p>
        Lörem ipsum fafesm gäning, radiofiering vyrosygt. Skajpa trerar on. Latesm endomatisk tidynera prenäborat hypodat. Növis dire, proren, vifess. Tykera nise, giportad autodelig.

        Du kan vara drabbad.
        Ambipol exogägen kyde kogt utom tirade. Aminat. Kontrassa plafängen, supratotal intrapågan exovöng. Karorat minade även om fadide ifall sevis. Spegon pseudolak fast fagutenade nyfriskjobb agon.
        Ana delig reras spening.

        Teng hede prock prosm. Pårtad spegisade diren. Onde nefede. Eurodedat rövis fäkes i mikrogande techlash.
        Destes supragram, tebel. Kroliga kenade behevis, euna. Hevis mikrong kynar, ir hexagon. Trehaskapet nebel dogt terafiering. Vöpåpåras megangen, nide tilig dir.

    </p>

</article>

<section class="ProdDestacados displayColumn">
    <h1>Productos similares </h1>
    <!--  traer list de misma categria y hacer un ramdon para que muestr 5 prod diferentes (?) -->
    <div class="displayRow">
        <div class="cardOferta displayColumn">
            <img src="" />
            <a asp-area="" asp-page="/Productos">
                <h4>@@tituloProducto</h4>
            </a>

            <h4>@@gramosProducto </h4>

            <h3> @@PRECIO$ </h3>

            <button>
                <img src="~/assets/svg/white-bag.svg" />
                AGREGAR
            </button>

        </div>
        <div class="cardOferta displayColumn">
            <img src="" />

            <h4>@@tituloProducto</h4>
            <h4>@@gramosProducto </h4>

            <h3> @@PRECIO$ </h3>

            <button>
                <img src="~/assets/svg/white-bag.svg" />
                AGREGAR
            </button>

        </div>
        <div class="cardOferta displayColumn">
            <img src="" />

            <h4>@@tituloProducto</h4>
            <h4>@@gramosProducto </h4>

            <h3> @@PRECIO$ </h3>

            <button>
                <img src="~/assets/svg/white-bag.svg" />
                AGREGAR
            </button>

        </div>
        <div class="cardOferta displayColumn">
            <img src="" />

            <h4>@@tituloProducto</h4>
            <h4>@@gramosProducto </h4>

            <h3> @@PRECIO$ </h3>

            <button>
                <img src="~/assets/svg/white-bag.svg" />
                AGREGAR
            </button>

        </div>
        <div class="cardOferta displayColumn">
            <img src="" />

            <h4>@@tituloProducto</h4>
            <h4>@@gramosProducto </h4>

            <h3> @@PRECIO$ </h3>

            <button>
                <img src="~/assets/svg/white-bag.svg" />
                AGREGAR
            </button>

        </div>
    </div>

    <a asp-area="" asp-page="/Productos"> VER MÁS PRODÚCTOS </a>



</section>

<div class="displayColumn novedades">
    <h2>Obtén  Novedades </h2>
    <div class="displayRow">
        <input type="email" value="example@mail.com" />
        <button> SUSCRIBIR </button>
    </div>
</div>